.teste {
    background: linear-gradient(348.73deg, #3B53A9 -1.14%, #E82134 50.56%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}