html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 8px;
  }
  
  body::-webkit-scrollbar-track {
    background: #11141F;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #283563;
    border-radius: 20px;
  }